<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <title> <%= title %>  </title>
</head>
<body>
   <h2>Your movie:</h2>
   <form action="/movies/getmovie" method='GET'>
      <label for="movie">Movie:</label><br>
      <input type="text" name="movie" id="movie"><br>
      <button type="submit">Find movie</button>
   </form>

   <hr>
   <form action="/movies/updatemovie" method='GET'>
      <label for="updateMovie">Incorrect info?</label><br>
      <button type="submit">Click to correct</button>
   </form>
   
   <hr>
   <% movies.forEach(({title, rating, synopsis, release_year, genre, director, box_office, poster}) => {%>
      <img src=<%= poster %> alt="poster for <%= title %>" style="max-width:200px">
      <h2><% title.split(' ').forEach(movie => { %>
      <%= movie.slice(0,1).toUpperCase()+ movie.slice(1) %> 
      <% }) %> %> </h2>
      <p><%= rating %> </p>
      <p><%= synopsis %> </p>
      <p><%= release_year %> </p>
      <p><%= genre.join(', ') %> </p>
      <p><%= director %> </p>
      <p><%= box_office %> </p>
      <hr /> 
   <%})%> 
   <a href="/movies">Home</a>
</body>
</html>